<head>
    <title>Unsere Kindergärten</title>
</head>
<body>

    <h1>Unsere Kindergärten:</h1>

    <h2>Waldorfkindergarden im Zentrum Wiens</h2>
    <img src="./assets/images/Kindergarten1.jpeg" alt="Waldorfkindergarden im Zentrum Wiens">
    <p>

        Herzlich willkommen im Waldorfkindergarten im Zentrum Wiens! Unsere Einrichtung in der Oleandergasse 21, 1220 Wien, wird von der MA 10 - Wiener Kindergärten betrieben. Wir legen Wert auf eine ganzheitliche Entwicklung und eine liebevolle Umgebung für die Kinder.
    </p>

    <h2>Kindergarden der Karl Schubert Schule für seelenpflegebedürftige Kinder und Jugendliche in Wien</h2>
    <img src="./assets/images/Kindergarten2.jpeg" alt="Waldorfkindergarden im Zentrum Wiens">
    <p>
        Ein herzliches Hallo vom Kindergarten der Karl Schubert Schule in der Kanitzgasse 1-3, 1230 Wien! Unser Betreiber ist der Verein Karl Schubertschule für Seelenpflegebedürftige Kinder und Jugendliche in Wien. Hier bieten wir eine unterstützende Umgebung für Kinder mit besonderen Bedürfnissen.
    </p>

    <h2>Kindergarden der Stadt Wien (Audorfgasse)</h2>
    <img src="./assets/images/Kindergarten3.jpg" alt="Waldorfkindergarden im Zentrum Wiens">
    <p>
        Willkommen im städtischen Kindergarten in der Audorfgasse 20, 1210 Wien! Getragen wird unsere Einrichtung von der MA 10 - Wiener Kindergärten. Wir setzen auf vielfältige pädagogische Ansätze und fördern die individuelle Entwicklung der Kinder.
    </p>

    <h2>Kindergarden der Stadt Wien (Moßbachergasse)</h2>
    <img src="./assets/images/Kindergarten4.jpeg" alt="Waldorfkindergarden im Zentrum Wiens">
    <p>
        Grüß Gott im städtischen Kindergarten in der Moßbachergasse 20-24, 1140 Wien! Auch hier steht die MA 10 - Wiener Kindergärten als verlässlicher Betreiber im Hintergrund. Wir bieten eine anregende Umgebung für die Kleinen, um ihre Neugierde zu wecken.
    </p>

    <h2>Montessori Kinderhaus Wien 1</h2>
<img src="./assets/images/Kindergarten5.jpg" alt="Montessori Kinderhaus Wien 1">
<p>
    Herzlich willkommen im Montessori Kinderhaus Wien 1 in der Nußdorferstraße 6, 1090 Wien! Unser Betreiber, das Montessori Kinderhaus Wien, legt Wert auf selbstbestimmtes Lernen und eine förderliche Umgebung. Hier entdecken die Kinder die Welt spielerisch und neugierig.
</p>


</body>

